<h1>編集する</h1>
<%= form_with(model:@user,local:true,url:user_path) do |f| %>
<%= f.label :image %>
<%= image_tag(@user.image.url)if @user.image&&@user.image.url %>
<%= f.file_field :image %>
<%= f.hidden_field :image_cache %>



<%= f.label:name %>
<%= f.text_field:name %>
<%= f.submit "edit" %>

<% end %>
