<h1>確認</h1>
<%= form_with(model:@post,local:true) do |f| %>


<p><%= image_tag(@post.image.url) if @post.image&&@post.image.url %></p>
<p><%= f.hidden_field :image_cache %></p>
<%= f.hidden_field:title %>
<p><%= @post.title %></p>
<%= f.hidden_field:content %>
<p><%= @post.content %></p>
<%= f.submit "投稿" %>

<% end %>

<%= form_with(model:@post,local:true,url:new_post_path,method: :'get') do |f| %>
<%= f.hidden_field:title %>
<%= f.hidden_field:content %>
<%= f.hidden_field :image_cache %>
<%= f.submit "戻る" ,name:'back'%>
<% end %>


<%= link_to "投稿", posts_path %>
