<h1>All Posts</h1>
  <div class= "offset-3 col-md-3">

    <% @posts.each do |post| %>
    <table id = "post">
      <tr><td><%= image_tag(post.image.url) if post.image&&post.image.url%></td></tr>
      <tr><th>Title：</th><td><%= post.title %></td></tr>
      <tr><th>Content：</th><td><%= post.content%></td></tr>
      <tr><th>User：</th><td><%= User.find_by(id: post.user_id).name %></td></tr>
    </table>

    <div  id = "post">
      <%= link_to "Show", post_path(post.id), class:'btn btn-primary' %>
      <% if post.user_id == current_user.id %>
      <%= link_to "Edit", edit_post_path(post.id) ,class:'btn btn-primary' %>
      <%= link_to "Delete", post_path(post.id),method: :delete ,class:'btn btn-primary' %>
      <% end %>
    </div>
    <% end %>
</div>
