<!DOCTYPE html>

<html>

  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>InstaClone</title>
  </head>


<div class="container">
  <header class= "header" >
    <% if logged_in? %>
    <div>
      <ul  id = "navi">
        <li><%= image_tag(current_user.image.url)if current_user.image && current_user.image.url %></li>
        <li><%= link_to current_user.name,user_path(current_user.id)%></li>
        <li><%= link_to "All Posts", posts_path %></li>
        <li><%= link_to "New Post", new_post_path %></li>
        <li><%= link_to "Logout",session_path(current_user.id),method: :delete %></li>
      </ul>
    <% else %>
      <ul  id = "navi">
        <li><%= link_to "Signup",new_user_path %></li>
        <li><%= link_to "Login",new_session_path %></li>
      </ul>
    <% end %>
    <div>
  </header>

  <body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class:"#{key}") %>
  <% end %>
  <%= yield %>
  </body>
</div>
</html>
